# Data Science Tools and Ecosystems

In this notebook, Data science Tools and Ecosystems are summarized.

**Objectives**
- List popular languages for Data Science
- List some of the commonly used libraries for Data Science
- Include a table of Data Science Tools
- Introduce arithmetic expressions
- Include two examples of arithmetic expressions

Some of the popular languagues that Data Scientist use are:
1. Python
2. Julia
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1) Pandas
2) TensorFlow
3) SciKit-Learn

| Data Science Tools|
|-------------------|
|TensorFlow|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply and add integers
(3*4)+5

17

In [43]:
# This will convert 200 minutes to hours by dividng by 60
minutes=200
hours=minutes/60
print(f"{hours} hours")

3.3333333333333335 hours

## Author
Anna McElroy